<%- include('partials/header') %>
<h1>Home</h1>
<% postsarr.forEach(element=> { %>

    <h1><%= element.name%></h1>
    <p style="display:inline ;"><%= element.content.substring(0,100)+"..." %></p>
    <span><a href="/posts/<%=element._id%> ">Read More</a> </span>
    <% }); %>
<%- include('partials/footer') %>
